<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" >
	<listeners>
		<listener class-name="selenium.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="seleniumTestCases">

		<classes>

			<class name="selenium.selfstudy.com.BrokenListTest" />
			<class name="selenium.selfstudy.com.DataBaseConnectivityTest" />
			<class name="selenium.selfstudy.com.DataTableReader" />
			<class name="selenium.selfstudy.com.DataTableReader" />
			<class name="selenium.selfstudy.com.DataProviderTest" />


		</classes>
	</test> <!-- DemoTest -->


	<test name="DemoTestChrome">
		<parameter name="browsers" value="chrome"></parameter>
		<classes>

			<class name="selenium.selfstudy.com.MultiBrowserTesting" />

		</classes>
	</test> <!-- DemoTest -->

	<test name="DemoTestFirefox">
		<parameter name="browsers" value="firefox"></parameter>
		<classes>

			<class name="selenium.selfstudy.com.MultiBrowserTesting" />
		</classes>
	</test> <!-- DemoTest -->


</suite> <!-- TestSuite -->
